h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em 1.2;
}

body {
    display: flex;
    background-color: #EEEEEE;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

li {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 10px;
    border: 8px solid black;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);

    background: white;
    margin: 1%;
    justify-content: center;
}