<nav>
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/catalog">Cinema</a></li>
        <li><a href="#/create">Add Movie</a></li>
        <li><a href="#/my_movies">My Movies</a></li>
        <li class="right"><a href="#/logout">Logout</a></li>
        <li class="right">Welcome, user!</li>
        <li class="right"><a href="#/register">Register</a></li>
        <li class="right"><a href="#/login">Login</a></li>
    </ul>
</nav>