body{
    margin: 10px auto;
    width: 90%;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}
article{
    width: 70%;
    display: inline-block;
}
aside{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    }
img{
    width: 50%;
}