@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

header article img {
    width: 150px;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    padding-left: 15px;
    font-weight: 500;
}

.rounded{
    background-color: #42ABF8;
    color: white;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
    font-weight: bold;
}