@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

p {
    padding: 10px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    padding: 0;
}

header article img {
    width: 100%;
    max-width: 180px;
    min-width: 100px;
    padding: 0 20px;
}

header nav {
    padding: 0px 20px 10px 20px;
}

header nav ul {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

header nav ul li {
    list-style: none;
    font-weight: 500;
    border-top: 5px solid transparent;
    padding: 15px 10px;
}

.rounded {
    color: white;
    font-weight: bold;
    background-color: #42ABF8;
    color: white;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    ;
    margin-left: 10px;
}

.selected {
    border-top: 5px solid #42ABF8;
    padding-top: 25px;
}

.certificates {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -130px;
    z-index: -10;
    width: 100%;
    padding: 5% 12%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("./images/hero-certificates.jpg");
    background-repeat: no-repeat;
    height: 75vh;
    background-size: cover;
    margin-top: 60px;
}

.certificates-description {
    margin-right: 50px;
}

.certificates-description div {
    background-color: #29384C;
    color: white;
    border-radius: 10px;
    padding: 50px 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.certificates-description>p {
    color: #586472;
    font-style: italic;
    position: absolute;
}

.certificate-images {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.diploma {
    width: 80%;
}

.diploma h2 {
    text-align: center;
}

.diploma-box {
    background-color: #F4F5F7;
    padding: 10px 20px 30px 20px;
}

.explore-program {
    width: 80%;
    height: 250px;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 30px;
    background: linear-gradient(0deg, rgba(41, 56, 76, 0.7), rgba(41, 56, 76, 0.7)), url("./images/sign-up-prompt-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.explore-program-content {
    width: 75%;
    margin: 0 auto;
}

.explore-program-content>h3 {
    font-size: 26px;
    font-weight: 500;
}

.explore-program-content>p {
    font-weight: 600;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.btn {
    padding: 10px 25px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-light {
    background-color: white;
    color: #42ABF8;
}

.btn-outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 30px;
}

.border-line {
    display: inline-block;
    margin-left: 30px;
    border-left: 2px solid white;
    height: 30px;
    vertical-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    padding: 50px 0px;
    border-top: 1px solid #C3C3C3;
}

.footer-logo {
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.footer-logo img {
    width: 100%;
    max-width: 180px;
    min-width: 100px;
    padding: 0 20px;
}

.footer-ul {
    display: flex;
}

.footer-ul li {
    list-style: none;
    padding: 0 5px;
}

.footer-ul li a {
    text-decoration: none;
    color: #5D6977;
    font-size: 14px;
}

.footer-ul li a i {
    color: #3A4E64;
}