body {
    font-family: Verdana, sans-serif;
    background-color: #EBEBEB;
    font-size: 14px;
    margin: 50px;
}

header {
    display: flex;
    border-bottom: 2px solid;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}

.menu {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

nav>ul {
    display: flex;
    list-style: none;
    background-color: #ffffff;
    padding-left: 0px;
    border-radius: 3px;
}

nav>ul>li {
    margin: 5px;
    padding: 10px 12px;
    background-color: #2D2D2D;
    color: white;
    border-radius: 5px;
}

nav>ul>li:hover {
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    body {
        font-family: Verdana, sans-serif;
        background-color: #EBEBEB;
        font-size: 16px;
    }
    h1 {
        font-size: 3em;
    }
    nav>ul>li {
        margin: 5px;
        padding: 7px 10px;
        background-color: #2D2D2D;
        color: white;
        border-radius: 8px;
    }
}



@media screen and (max-width: 799px) {

    h1 {
        font-size: 3em;
        padding-left: 30px;
    }
    header {
        flex-direction: column;
        align-items: stretch;
    }
    .menu {
        display: block;
        
    }
    nav>ul {
        border-top: 2px solid;
        margin: 0;
        flex-direction: column;
        border-radius: 0;
    }
    nav>ul>li {
        margin: 5px;
        padding: 7px 10px;
        background-color: #2D2D2D;
        color: white;
        border-radius: 8px;
    }
}

@media screen and (max-width: 499px) {
    h1 {
        text-align: center;
        padding-left: 0px;
        margin: 0;
    }
}
