{{>header}}
<!-- Home -->
<div class="content">
    {{#each category}}
    {{>category}}
    {{else}}

    <!-- No articles message -->
    <h3 class="no-articles">No articles yet</h3>

    {{/each}}
</div>
{{>footer}}