@import url("reset.css") screen;
@import url("navigation.css") screen;
@import url("layout.css") screen;

body {
    font-family: Verdana, sans-serif;
    background-color: #EBEBEB;
    font-size: 16px;
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    border-bottom: 2px solid;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}


nav>ul>li {
    margin: 5px;
    padding: 7px 10px;
    background-color: #2D2D2D;
    color: white;
    border-radius: 8px;
}

h1, h2, h3 {
    font-family: Georgia, serif;
}


h1 {
    font-size: 3em;
    text-transform: uppercase;

}

div.page {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 0 55%;
}

.first-article img {
    float: right;
    margin-right: 0;
}

img {
    border: 5px solid black;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    background-color: rgb(255, 255, 255);
}
/* 
.second-article {
    float: left;
} */

.second-article blockquote {
    font-family: Georgia, serif;
    padding-left: 30px;
    border-left: 3px solid #DCDCDC;
    font-style: italic;
}

.second-article cite {
    float: right;
    padding-top: 30px;
}


.third-article img {
    float: left;
}

aside {
    margin: 0 50px;
}

aside ul li {
    list-style: none;
}

aside ul li a{
    text-decoration: none;
    color: #2D9B56;
}





@media screen and (min-width: 1199px) {


    body {
        font-family: Verdana, sans-serif;
        background-color: #EBEBEB;
        background-color: goldenrod;
        font-size: 16px;
        width: 1200px;
        margin: 0 40px;
    }

    h1 {
        font-size: 3em;
    }
    nav>ul>li {
        margin: 5px;
        padding: 7px 10px;
        background-color: #2D2D2D;
        color: white;
        border-radius: 8px;
    }
}

@media screen and (max-width: 799px) {
    body{
        background-color: red;
    }

    header {
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }

    h1 {
        font-size: 3em;
        padding-left: 30px;
        margin: 0 80px;
    }
    
    .menu {
        display: block;        
    }

    nav>ul {
        border-top: 2px solid;
        margin: 0;
        flex-direction: column;
        border-radius: 0;
    }
    nav>ul>li {
        margin: 5px;
        padding: 7px 10px;
        background-color: #2D2D2D;
        color: white;
        border-radius: 8px;
    }    
}

@media screen and (max-width: 499px) {
    body{
        background-color: dodgerblue;
        max-width: 100%;
        margin: 0 20px;
    }

    h1 {
        font-size: 2em;
        padding: 0 0 20px 0;        
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .menu {
        display: block;
        
    }

    nav{
        margin-top: 20px;
        max-width: 80%;
    }
    nav>ul {
        border-top: 2px solid;
        margin: 0;
        flex-direction: column;
        border-radius: 0;
    }
    nav>ul>li {
        margin: 5px;
        padding: 7px 10px;
        background-color: #2D2D2D;
        color: white;
        border-radius: 8px;
    }
}


