{{>header}}
{{#unless user}}
<div class="container">
    <div class="about-us">
        <div>
            <img src="../public/shoes.jpg" alt="">
            <img src="../public/shoes2.jpg" alt="">
        </div>
        <p>
            <a href="#/register">Register Now</a> and Try it!
        </p>
    </div>
</div>
{{/unless}}
{{#if shoes}}
<div class="shoes">
    {{#each shoes}}
    <div class="shoe">
        <img src="https://i1.t4s.cz/products/ar4149-001/nike-air-zoom-pegasus-36-gs-251390-ar4149-001.jpeg">
        <h3>{{name}}</h3>
        <a>Buy it for {{name}}</a>
        {{shoes}}
    </div>
    {{/each}}
</div>
{{else}}
{{#if user}}
<h1>No shoes to display. Be the first to create a new offer...</h1>
{{/if}}
{{/if}}
{{>footer}}